<div class="container">
  <nav>
    <h1 class="title">No More Typos_</h1>
    <div class="links">
      <a 
        routerLink='/' 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact: true}" 
        class="link">Home</a>
      <a 
        routerLink='/game/0' 
        routerLinkActive="active" 
        class="link">Game</a>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <footer class="contacts">
    <a href="https://github.com/t3iki" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a href="javascript:void(0)"><img src="assets/svg/teiki-logo.svg"></a>
    <a href="https://www.linkedin.com/in/t3iki/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
  </footer>
</div>